# GLOBSEC

MariaDB

51.4 GB

How to work with MariaDB:
- https://www.a2hosting.com/kb/developer-corner/mysql/managing-mysql-databases-and-users-from-the-command-line

In [1]:
%matplotlib inline

import os
import pandas as pd
import math
import re
import seaborn as sns
import numpy as np
import glob
from functools import reduce

from matplotlib import pyplot as plt
import matplotlib.dates as md
from datetime import datetime,timedelta

In [2]:
import matplotlib

plt.rcParams['figure.figsize'] = 50, 10

font = {'size'   : 30}

matplotlib.rc('font', **font)

# Connect

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="db",
    database="globs_all"
)

mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001659D835940>

In [2]:
# executing queries
def eq(q):
#     mycursor = mydb.cursor()
    mycursor.execute(q)
    myresult = mycursor.fetchall()

    for x in myresult:
        print(x)

# Tables

Source - RSS

In [3]:
eq('SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA="globs_all"')

('article',)
('article_category',)
('article_category_article',)
('article_label',)
('label',)
('label_article_label',)
('label_category',)
('site',)

# Basic overview

## Article

stiahnuté články v HTML aj textovej podobe


- id
- public_id


- site_id = site


- title
- author
- url


- language
- state


- body
- original_body
- text_body


- date_created
- date_added


BASIC INFO (1st batch)
- n of articles = 30 4537 (36 424)
- missing author = 293 271 (25 517)
- missing date_created = 14 496 (6 853)
- 128 sources (sites) (126)

In [4]:
# how many articles
q = "SELECT COUNT(*) FROM article"
eq(q)

(304537,)

In [5]:
# missing attributes

print('\nmissing author')
q = "SELECT COUNT(*) FROM article WHERE author IS NULL"
eq(q)

print('\nmissing date_created')
q = "SELECT COUNT(*) FROM article WHERE date_created IS NULL"
eq(q)

missing author
(293271,)

missing date_created
(14496,)

In [8]:
# how many 

# sites
print('\nnumber of sites')
q = "SELECT COUNT(DISTINCT (site_id)) FROM article"
eq(q)

# languages
print('\nnumber of languages')
q = "SELECT COUNT(DISTINCT (language)) FROM article"
eq(q)

q = "SELECT language, COUNT(*) FROM article GROUP BY language"
eq(q)

# state
print('\nnumber of states')
q = "SELECT COUNT(DISTINCT (state)) FROM article"
eq(q)

q = "SELECT state, COUNT(*) FROM article GROUP BY state"
eq(q)

number of sites
(128,)

number of languages
(9,)
('bg', 24925)
('cz', 23582)
('hu', 32576)
('me', 29376)
('mk', 49220)
('ro', 40476)
('rs', 39272)
('sk', 64454)
('sr', 656)

number of states
(5,)
('grabbed', 283352)
('labeled', 1490)
('partially_labeled', 239)
('reprocess', 35)
('unrelated', 19421)

In [9]:
# date_created range - however, not every date is properly formatted
print('date_created range')
q = "SELECT YEAR(date_created), COUNT(*) FROM article GROUP BY YEAR(date_created) ORDER BY YEAR(date_created) ASC"
eq(q)

date_created range
(None, 14496)
(0, 121)
(400, 172)
(800, 150)
(1200, 114)
(1600, 144)
(2000, 146)
(2012, 1)
(2013, 568)
(2014, 892)
(2015, 1172)
(2016, 1238)
(2017, 12216)
(2018, 79656)
(2019, 190638)
(2400, 181)
(2800, 164)
(3200, 146)
(3600, 110)
(4000, 139)
(4400, 203)
(4800, 183)
(5200, 161)
(5600, 101)
(6000, 203)
(6400, 153)
(6800, 118)
(7200, 111)
(7600, 151)
(8000, 139)
(8400, 140)
(8800, 97)
(9200, 178)
(9600, 135)

In [10]:
# date_added range - however, not every date is properly formatted
print('date_added range')
q = "SELECT YEAR(date_added), COUNT(*) FROM article GROUP BY YEAR(date_added) ORDER BY YEAR(date_added) ASC"
eq(q)

date_added range
(2019, 304537)

In [11]:
print('number of articles per site (id) - max and min')

print('\nMin - Site ID, Number of articles')
q = "SELECT site_id, COUNT(*) AS c FROM article GROUP BY site_id ORDER BY COUNT(*) ASC LIMIT 5"
eq(q)

print('\nMax - Site ID, Number of articles')
q = "SELECT site_id, COUNT(*) AS c FROM article GROUP BY site_id ORDER BY COUNT(*) DESC LIMIT 5"
eq(q)

number of articles per site (id) - max and min

Min - Site ID, Number of articles
(47, 1)
(112, 10)
(81, 10)
(12, 10)
(61, 11)

Max - Site ID, Number of articles
(2, 47974)
(56, 26608)
(86, 26482)
(135, 16793)
(108, 16171)

In [12]:
# number of articles per site
print('histogram - number of articles per a site')
print('\nNumber of articles , Number of sites')

q = "SELECT c, SUM(c) FROM (SELECT site_id, COUNT(*) AS c FROM article GROUP BY site_id) AS t GROUP BY c ORDER BY c ASC"
eq(q)

histogram - number of articles per a site

Number of articles , Number of sites
(1, Decimal('1'))
(10, Decimal('30'))
(11, Decimal('11'))
(13, Decimal('26'))
(16, Decimal('16'))
(19, Decimal('19'))
(23, Decimal('23'))
(30, Decimal('60'))
(32, Decimal('32'))
(48, Decimal('48'))
(49, Decimal('49'))
(51, Decimal('51'))
(52, Decimal('52'))
(61, Decimal('61'))
(62, Decimal('62'))
(69, Decimal('69'))
(70, Decimal('70'))
(72, Decimal('72'))
(90, Decimal('90'))
(91, Decimal('91'))
(97, Decimal('97'))
(98, Decimal('98'))
(101, Decimal('101'))
(104, Decimal('104'))
(106, Decimal('212'))
(107, Decimal('107'))
(121, Decimal('242'))
(126, Decimal('126'))
(127, Decimal('127'))
(128, Decimal('128'))
(130, Decimal('130'))
(132, Decimal('132'))
(135, Decimal('135'))
(137, Decimal('137'))
(139, Decimal('139'))
(147, Decimal('147'))
(156, Decimal('156'))
(163, Decimal('163'))
(169, Decimal('169'))
(170, Decimal('170'))
(185, Decimal('185'))
(186, Decimal('186'))
(187, Decimal('374'))
(188, Decimal('188'))
(191, Decimal('191'))
(195, Decimal('195'))
(208, Decimal('208'))
(223, Decimal('223'))
(224, Decimal('224'))
(231, Decimal('231'))
(245, Decimal('245'))
(251, Decimal('251'))
(271, Decimal('271'))
(274, Decimal('274'))
(286, Decimal('286'))
(309, Decimal('309'))
(324, Decimal('324'))
(331, Decimal('331'))
(349, Decimal('349'))
(361, Decimal('361'))
(362, Decimal('362'))
(411, Decimal('822'))
(413, Decimal('413'))
(422, Decimal('422'))
(442, Decimal('442'))
(474, Decimal('474'))
(527, Decimal('527'))
(543, Decimal('543'))
(596, Decimal('596'))
(605, Decimal('605'))
(637, Decimal('637'))
(646, Decimal('646'))
(658, Decimal('658'))
(775, Decimal('775'))
(796, Decimal('796'))
(926, Decimal('926'))
(976, Decimal('976'))
(990, Decimal('990'))
(1132, Decimal('1132'))
(1227, Decimal('1227'))
(1296, Decimal('1296'))
(1328, Decimal('1328'))
(1391, Decimal('1391'))
(1462, Decimal('1462'))
(1469, Decimal('1469'))
(1527, Decimal('1527'))
(1614, Decimal('1614'))
(1757, Decimal('1757'))
(1814, Decimal('1814'))
(2066, Decimal('2066'))
(2169, Decimal('2169'))
(2386, Decimal('2386'))
(2688, Decimal('2688'))
(2891, Decimal('2891'))
(3129, Decimal('3129'))
(3167, Decimal('3167'))
(3406, Decimal('3406'))
(3611, Decimal('3611'))
(4015, Decimal('4015'))
(4121, Decimal('4121'))
(4202, Decimal('4202'))
(4735, Decimal('4735'))
(4813, Decimal('4813'))
(4972, Decimal('4972'))
(5198, Decimal('5198'))
(5633, Decimal('5633'))
(6035, Decimal('6035'))
(6465, Decimal('6465'))
(6594, Decimal('6594'))
(6692, Decimal('6692'))
(6821, Decimal('6821'))
(7195, Decimal('7195'))
(7410, Decimal('7410'))
(7707, Decimal('7707'))
(15802, Decimal('15802'))
(16171, Decimal('16171'))
(16793, Decimal('16793'))
(26482, Decimal('26482'))
(26608, Decimal('26608'))
(47974, Decimal('47974'))

## Article category

pokiaľ bol článok sťahovaný cez RSS a v RSS webu boli kategórie, tu sú uložené

- id


- site_id = site


- name
- excluded

In [13]:
print('number of categories: \nOriginally: 26 365 \nNow:')

q = "SELECT COUNT(*) FROM article_category"
eq(q)

print('\nexamples (id, name, site_id, excluded):')
q = "SELECT * FROM article_category LIMIT 5"
eq(q)

number of categories:
Originally: 26 365
Now:
(23083,)

examples (id, name, site_id, excluded):
(13136, 'Ekonomika', 77, 0)
(13137, 'Ekonomika', 2, 0)
(13138, 'Ekonomika', 83, 0)
(13139, 'Ekonomika', 84, 0)
(13140, 'Ekonomika', 11, 0)

In [14]:
print('number of unique categories: \nOriginally: 12 372 \nNow:')

q = "SELECT COUNT(*) FROM article_category"
eq(q)

number of unique categories:
Originally: 12 372
Now:
(23083,)

In [19]:
# missing attributes
print('what s missing - site')

q = "SELECT COUNT(*) FROM article_category WHERE site_id IS NULL"
eq(q)
q = "SELECT COUNT(*) FROM article_category WHERE name IS NULL"
eq(q)
q = "SELECT COUNT(*) FROM article_category WHERE excluded IS NULL"
eq(q)

what s missing - site
(0,)
(0,)
(0,)

In [29]:
# number of categories per site

print('sites with categories - number of categories: site_id, count of their categories')
q = "SELECT site_id, COUNT(*) FROM article_category GROUP BY site_id  ORDER BY COUNT(*) DESC"
eq(q)

sites with categories - number of categories: site_id, count of their categories
(123, 2312)
(134, 2261)
(101, 1703)
(57, 1495)
(115, 1398)
(46, 1314)
(127, 1209)
(79, 773)
(71, 758)
(118, 736)
(109, 718)
(84, 693)
(107, 689)
(49, 649)
(59, 620)
(94, 617)
(138, 566)
(11, 470)
(100, 441)
(70, 439)
(108, 418)
(89, 280)
(60, 280)
(33, 261)
(51, 132)
(61, 132)
(43, 117)
(145, 112)
(150, 92)
(77, 74)
(85, 72)
(55, 70)
(151, 70)
(144, 59)
(91, 58)
(28, 54)
(82, 50)
(93, 49)
(98, 48)
(3, 43)
(97, 43)
(29, 40)
(56, 39)
(148, 39)
(87, 38)
(4, 36)
(103, 35)
(76, 35)
(157, 32)
(132, 32)
(120, 28)
(65, 28)
(45, 28)
(136, 23)
(92, 21)
(110, 21)
(44, 21)
(31, 20)
(152, 20)
(137, 16)
(113, 14)
(105, 13)
(2, 12)
(147, 12)
(30, 11)
(39, 11)
(126, 10)
(83, 9)
(12, 9)
(121, 8)
(140, 7)
(74, 6)
(42, 6)
(112, 6)
(27, 5)
(81, 4)
(111, 4)
(146, 3)
(99, 3)
(142, 1)
(95, 1)
(14, 1)

## Article category article

prepojovacia tabuľka article a article_category (many-to-many relation)


- article_category_id = article_category_id
- article_id = article_id

In [30]:
print('how many mappings: \nOriginally: 40 931 \nNow:')

q = "SELECT COUNT(*) FROM article_category_article"
eq(q)

how many mappings:
Originally: 40 931
Now:
(46201,)

In [35]:
# how many categories per article

print('articles with categories: \nOriginally: 18 572 \nNow:')
# q = "SELECT article_id, COUNT(*) FROM article_category_article GROUP BY article_id  ORDER BY COUNT(*) DESC"
q = "SELECT COUNT(*) FROM (SELECT COUNT(*) FROM article_category_article GROUP BY article_id) as t"
eq(q)

articles with categories:
Originally: 18 572
Now:
(22253,)

## Article label

labely v článkoch vytvorené používateľmi


- id


- article_id = article


- user_id
- date_created
- path


- content
- parent_content
- offset
- lenght
- html_label

In [36]:
# number of (unique) article label
print('number of article_label:  \nOriginally: 3 572 \nNow:')
q = "SELECT COUNT(*) FROM article_label"
eq(q)

number of article_label:
Originally: 3 572
Now:
(7180,)

In [37]:
# users making labels
print('users, how many labels they made')
q = "SELECT user_id, COUNT(*) FROM article_label GROUP BY user_id ORDER BY COUNT(*)"
eq(q)

users, how many labels they made
(1, 1)
(12, 18)
(5, 65)
(3, 89)
(31, 98)
(27, 129)
(20, 154)
(9, 180)
(18, 202)
(6, 302)
(7, 303)
(15, 345)
(30, 462)
(21, 466)
(10, 480)
(8, 500)
(28, 529)
(26, 550)
(19, 581)
(29, 693)
(4, 1033)

In [38]:
# how many labels per article
print('how many labels per article')
q = "SELECT article_id, COUNT(*) FROM article_label GROUP BY article_id ORDER BY COUNT(*)"
eq(q)

how many labels per article
(342136, 1)
(432956, 1)
(436561, 1)
(442445, 1)
(443846, 1)
(446075, 1)
(458955, 1)
(470522, 1)
(473942, 1)
(202351, 1)
(211352, 1)
(242227, 1)
(256179, 1)
(294934, 1)
(305379, 1)
(393444, 1)
(437165, 1)
(456959, 1)
(459210, 1)
(461025, 1)
(231996, 1)
(235758, 1)
(247553, 1)
(291535, 1)
(298055, 1)
(395715, 1)
(404923, 1)
(431320, 1)
(436282, 1)
(458021, 1)
(461369, 1)
(464483, 1)
(179808, 1)
(197772, 1)
(208963, 1)
(233854, 1)
(236758, 1)
(250309, 1)
(279565, 1)
(299511, 1)
(303353, 1)
(391666, 1)
(434725, 1)
(459001, 1)
(460192, 1)
(470550, 1)
(221768, 1)
(235698, 1)
(243156, 1)
(256370, 1)
(295364, 1)
(300397, 1)
(332105, 1)
(393687, 1)
(443241, 1)
(449766, 1)
(459223, 1)
(462442, 1)
(470914, 1)
(184717, 1)
(192787, 1)
(224423, 1)
(232020, 1)
(247569, 1)
(262041, 1)
(298069, 1)
(302011, 1)
(314812, 1)
(431331, 1)
(436321, 1)
(445439, 1)
(447660, 1)
(455286, 1)
(458106, 1)
(461375, 1)
(464535, 1)
(473026, 1)
(179841, 1)
(199171, 1)
(228501, 1)
(237725, 1)
(251332, 1)
(279900, 1)
(303406, 1)
(317695, 1)
(391687, 1)
(459029, 1)
(462362, 1)
(465303, 1)
(470570, 1)
(243661, 1)
(256616, 1)
(267170, 1)
(282175, 1)
(300642, 1)
(335753, 1)
(388242, 1)
(393692, 1)
(433822, 1)
(435073, 1)
(439412, 1)
(459225, 1)
(178356, 1)
(184745, 1)
(205873, 1)
(214006, 1)
(235784, 1)
(247889, 1)
(292110, 1)
(395977, 1)
(431541, 1)
(455295, 1)
(459479, 1)
(464651, 1)
(470446, 1)
(473052, 1)
(199193, 1)
(216961, 1)
(234087, 1)
(235596, 1)
(237846, 1)
(252268, 1)
(279918, 1)
(293641, 1)
(303458, 1)
(311600, 1)
(330111, 1)
(391746, 1)
(438487, 1)
(443903, 1)
(459039, 1)
(230640, 1)
(244309, 1)
(257364, 1)
(309510, 1)
(332407, 1)
(344918, 1)
(394216, 1)
(428942, 1)
(437631, 1)
(451541, 1)
(457303, 1)
(459230, 1)
(461183, 1)
(468676, 1)
(193464, 1)
(224834, 1)
(235793, 1)
(248174, 1)
(292259, 1)
(390478, 1)
(396600, 1)
(408666, 1)
(450147, 1)
(470449, 1)
(473197, 1)
(200172, 1)
(209132, 1)
(229096, 1)
(239037, 1)
(252751, 1)
(303530, 1)
(391860, 1)
(399032, 1)
(436801, 1)
(456847, 1)
(462368, 1)
(465655, 1)
(470581, 1)
(235256, 1)
(244903, 1)
(257846, 1)
(267388, 1)
(304291, 1)
(321793, 1)
(444952, 1)
(461232, 1)
(463486, 1)
(468701, 1)
(193900, 1)
(225248, 1)
(232686, 1)
(248326, 1)
(263597, 1)
(292434, 1)
(306602, 1)
(310838, 1)
(316684, 1)
(383173, 1)
(436517, 1)
(445491, 1)
(455316, 1)
(458162, 1)
(464665, 1)
(470453, 1)
(186267, 1)
(209209, 1)
(217687, 1)
(234671, 1)
(239739, 1)
(253005, 1)
(265947, 1)
(347118, 1)
(446520, 1)
(459079, 1)
(465656, 1)
(181105, 1)
(184323, 1)
(204012, 1)
(230697, 1)
(235734, 1)
(245140, 1)
(258649, 1)
(296216, 1)
(300897, 1)
(332730, 1)
(336431, 1)
(388643, 1)
(394712, 1)
(401151, 1)
(429492, 1)
(445196, 1)
(447187, 1)
(452616, 1)
(461280, 1)
(468870, 1)
(182668, 1)
(184983, 1)
(194389, 1)
(206677, 1)
(225482, 1)
(249001, 1)
(292464, 1)
(340834, 1)
(396789, 1)
(412832, 1)
(434411, 1)
(447859, 1)
(461417, 1)
(464666, 1)
(470487, 1)
(473204, 1)
(186408, 1)
(200610, 1)
(217828, 1)
(240005, 1)
(253227, 1)
(399307, 1)
(230949, 1)
(245304, 1)
(259394, 1)
(267414, 1)
(284090, 1)
(304467, 1)
(332807, 1)
(336851, 1)
(394768, 1)
(430510, 1)
(433984, 1)
(435160, 1)
(440927, 1)
(447245, 1)
(452640, 1)
(459267, 1)
(194426, 1)
(207421, 1)
(215123, 1)
(225695, 1)
(233384, 1)
(234535, 1)
(249477, 1)
(302649, 1)
(327929, 1)
(396867, 1)
(436529, 1)
(438143, 1)
(450321, 1)
(455421, 1)
(464673, 1)
(183732, 1)
(201733, 1)
(218730, 1)
(235147, 1)
(235636, 1)
(240208, 1)
(253635, 1)
(294193, 1)
(300082, 1)
(330843, 1)
(392517, 1)
(422704, 1)
(434923, 1)
(245742, 1)
(259402, 1)
(267817, 1)
(296520, 1)
(395031, 1)
(445278, 1)
(447333, 1)
(457822, 1)
(459273, 1)
(472529, 1)
(179255, 1)
(207912, 1)
(234550, 1)
(249510, 1)
(292920, 1)
(361542, 1)
(391167, 1)
(436534, 1)
(442142, 1)
(445575, 1)
(450383, 1)
(470493, 1)
(186757, 1)
(229457, 1)
(234683, 1)
(240646, 1)
(255021, 1)
(266350, 1)
(280698, 1)
(300109, 1)
(312833, 1)
(320848, 1)
(443081, 1)
(459165, 1)
(462412, 1)
(234806, 1)
(235300, 1)
(235749, 1)
(245796, 1)
(259956, 1)
(296701, 1)
(301300, 1)
(314063, 1)
(333961, 1)
(337479, 1)
(395038, 1)
(430715, 1)
(457887, 1)
(459282, 1)
(462497, 1)
(182903, 1)
(197260, 1)
(215690, 1)
(227521, 1)
(234565, 1)
(236034, 1)
(249530, 1)
(263850, 1)
(397182, 1)
(416461, 1)
(436535, 1)
(442156, 1)
(177147, 1)
(220742, 1)
(229693, 1)
(241084, 1)
(255905, 1)
(266574, 1)
(280920, 1)
(294332, 1)
(370734, 1)
(373960, 1)
(433373, 1)
(459185, 1)
(460889, 1)
(462420, 1)
(181682, 1)
(223122, 1)
(246253, 1)
(261068, 1)
(296940, 1)
(334204, 1)
(382175, 1)
(389203, 1)
(395158, 1)
(404334, 1)
(443444, 1)
(462506, 1)
(208426, 1)
(215799, 1)
(227632, 1)
(235011, 1)
(236307, 1)
(249665, 1)
(293261, 1)
(299325, 1)
(434531, 1)
(440247, 1)
(465102, 1)
(473235, 1)
(211072, 1)
(230317, 1)
(241778, 1)
(255914, 1)
(392995, 1)
(425669, 1)
(433440, 1)
(456938, 1)
(459196, 1)
(460989, 1)
(184583, 1)
(192513, 1)
(205303, 1)
(213358, 1)
(247016, 1)
(261284, 1)
(304623, 1)
(324553, 1)
(389263, 1)
(431124, 1)
(434315, 1)
(439916, 1)
(455276, 1)
(459288, 1)
(461365, 1)
(464414, 1)
(183003, 1)
(208735, 1)
(235576, 1)
(236347, 1)
(249997, 1)
(265240, 1)
(279350, 1)
(293408, 1)
(329290, 1)
(397618, 2)
(448612, 2)
(450399, 2)
(456372, 2)
(462916, 2)
(266981, 2)
(281161, 2)
(303992, 2)
(309217, 2)
(387676, 2)
(426076, 2)
(433807, 2)
(435063, 2)
(439285, 2)
(451100, 2)
(462435, 2)
(463311, 2)
(467884, 2)
(470829, 2)
(181961, 2)
(223924, 2)
(234831, 2)
(261495, 2)
(372157, 2)
(389934, 2)
(445407, 2)
(447628, 2)
(470341, 2)
(472755, 2)
(228334, 2)
(265608, 2)
(293489, 2)
(363178, 2)
(373194, 2)
(433046, 2)
(450400, 2)
(462288, 2)
(465274, 2)
(177370, 2)
(202357, 2)
(309403, 2)
(313119, 2)
(354512, 2)
(365250, 2)
(428061, 2)
(437301, 2)
(451466, 2)
(461032, 2)
(205792, 2)
(291789, 2)
(325188, 2)
(346030, 2)
(348201, 2)
(405175, 2)
(434357, 2)
(443513, 2)
(459358, 2)
(462548, 2)
(470439, 2)
(233927, 2)
(234643, 2)
(265626, 2)
(329928, 2)
(370266, 2)
(417772, 2)
(440283, 2)
(450401, 2)
(180897, 2)
(184148, 2)
(222319, 2)
(230516, 2)
(234353, 2)
(309461, 2)
(313230, 2)
(332276, 2)
(380548, 2)
(443249, 2)
(451493, 2)
(461170, 2)
(462444, 2)
(262334, 2)
(458151, 2)
(461403, 2)
(462557, 2)
(183392, 2)
(209117, 2)
(234644, 2)
(265658, 2)
(317968, 2)
(363896, 2)
(417789, 2)
(450408, 2)
(456839, 2)
(462927, 2)
(465419, 2)
(211893, 2)
(267185, 2)
(300802, 2)
(182656, 2)
(184807, 2)
(262501, 2)
(269365, 2)
(302401, 2)
(305815, 2)
(310817, 2)
(359180, 2)
(369053, 2)
(372363, 2)
(434361, 2)
(455305, 2)
(458160, 2)
(461404, 2)
(464652, 2)
(235088, 2)
(235605, 2)
(265735, 2)
(293840, 2)
(308738, 2)
(443990, 2)
(459066, 2)
(460385, 2)
(177824, 2)
(181053, 2)
(222736, 2)
(295987, 2)
(300811, 2)
(344976, 2)
(388502, 2)
(394696, 2)
(400945, 2)
(428943, 2)
(435135, 2)
(437725, 2)
(451755, 2)
(459258, 2)
(206125, 2)
(214564, 2)
(234527, 2)
(327752, 2)
(360480, 2)
(369108, 2)
(396662, 2)
(434362, 2)
(440116, 2)
(459522, 2)
(462616, 2)
(180114, 2)
(229121, 2)
(293908, 2)
(352484, 2)
(392272, 2)
(399180, 2)
(450452, 2)
(456905, 2)
(470686, 2)
(267393, 2)
(366688, 2)
(214734, 2)
(270404, 2)
(302635, 2)
(450231, 2)
(458267, 2)
(462777, 2)
(180143, 2)
(183731, 2)
(235631, 2)
(265963, 2)
(392370, 2)
(448910, 2)
(462405, 2)
(462943, 2)
(181266, 2)
(222895, 2)
(296218, 2)
(374425, 2)
(462487, 2)
(472263, 2)
(234962, 2)
(263781, 2)
(369157, 2)
(390876, 2)
(413677, 2)
(442104, 2)
(459722, 2)
(462875, 2)
(180185, 2)
(229161, 2)
(266204, 2)
(347180, 2)
(446699, 2)
(459163, 2)
(462411, 2)
(462947, 2)
(213094, 2)
(345372, 2)
(347917, 2)
(430574, 2)
(439655, 2)
(452695, 2)
(469187, 2)
(235876, 2)
(263846, 2)
(306700, 2)
(349162, 2)
(432839, 2)
(440190, 2)
(443790, 2)
(461775, 2)
(464823, 2)
(473228, 2)
(183746, 2)
(220053, 2)
(235159, 2)
(235644, 2)
(305219, 2)
(309020, 2)
(344247, 2)
(450882, 2)
(462954, 2)
(178030, 2)
(181518, 2)
(268658, 2)
(345432, 2)
(374601, 2)
(389190, 2)
(441693, 2)
(443442, 2)
(469871, 2)
(472650, 2)
(233650, 2)
(234984, 2)
(305993, 2)
(328423, 2)
(369737, 2)
(391374, 2)
(443816, 2)
(448385, 2)
(458593, 2)
(461833, 2)
(464865, 2)
(470513, 2)
(183767, 2)
(344691, 2)
(347253, 2)
(353975, 2)
(399971, 2)
(440654, 2)
(443115, 2)
(450892, 2)
(466715, 2)
(191270, 2)
(231513, 2)
(235306, 2)
(345832, 2)
(356888, 2)
(457940, 2)
(459283, 2)
(463901, 2)
(472715, 2)
(176761, 2)
(233812, 2)
(279264, 2)
(304961, 2)
(311002, 2)
(317569, 2)
(346693, 2)
(369842, 2)
(372846, 2)
(391481, 2)
(397508, 2)
(436540, 2)
(443824, 2)
(456045, 2)
(458651, 2)
(461933, 2)
(470521, 2)
(220857, 2)
(235681, 2)
(281032, 2)
(294368, 2)
(437019, 2)
(449269, 2)
(462424, 2)
(181881, 2)
(223859, 2)
(231926, 2)
(234816, 2)
(314626, 2)
(447545, 2)
(457990, 2)
(472716, 2)
(179770, 2)
(197747, 2)
(215961, 2)
(346828, 3)
(351591, 3)
(362975, 3)
(391654, 3)
(460085, 3)
(177236, 3)
(180828, 3)
(221341, 3)
(230422, 3)
(235697, 3)
(178284, 3)
(234491, 3)
(314736, 3)
(337954, 3)
(437996, 3)
(450056, 3)
(462526, 3)
(235046, 3)
(306005, 3)
(436668, 3)
(443876, 3)
(456393, 3)
(462917, 3)
(335390, 3)
(435067, 3)
(440814, 3)
(468409, 3)
(178327, 3)
(181965, 3)
(395934, 3)
(440036, 3)
(450099, 3)
(235591, 3)
(342760, 3)
(378250, 3)
(433069, 3)
(436737, 3)
(443891, 3)
(177715, 3)
(187056, 3)
(211681, 3)
(295532, 3)
(304134, 3)
(321435, 3)
(365965, 3)
(449770, 3)
(457041, 3)
(463360, 3)
(224687, 3)
(235352, 3)
(310722, 3)
(390427, 3)
(434358, 3)
(445441, 3)
(370296, 3)
(434729, 3)
(448830, 3)
(460384, 3)
(462367, 3)
(470576, 3)
(222413, 3)
(235724, 3)
(295985, 3)
(355324, 3)
(400693, 3)
(433869, 3)
(435120, 3)
(443291, 3)
(444818, 3)
(462453, 3)
(178636, 3)
(234518, 3)
(235413, 3)
(298757, 3)
(304760, 3)
(325879, 3)
(382721, 3)
(443619, 3)
(459512, 3)
(462610, 3)
(217668, 3)
(318248, 3)
(370491, 3)
(446215, 3)
(211990, 3)
(235730, 3)
(305510, 3)
(366291, 3)
(443388, 3)
(457505, 3)
(462475, 3)
(182665, 3)
(270086, 3)
(298764, 3)
(348772, 3)
(372439, 3)
(438122, 3)
(447854, 3)
(450227, 3)
(176896, 3)
(183706, 3)
(235628, 3)
(320189, 3)
(330607, 3)
(422598, 3)
(434740, 3)
(462395, 3)
(187447, 3)
(309979, 3)
(345317, 3)
(347773, 3)
(374394, 3)
(381232, 3)
(437743, 3)
(439517, 3)
(443424, 3)
(457508, 3)
(462485, 3)
(178914, 3)
(369148, 3)
(440135, 3)
(442039, 3)
(455420, 3)
(459682, 3)
(229139, 3)
(234228, 3)
(280224, 3)
(312446, 3)
(373786, 3)
(422611, 3)
(440399, 3)
(460397, 3)
(465658, 3)
(470703, 3)
(177941, 3)
(204496, 3)
(235739, 3)
(301185, 3)
(306459, 3)
(371884, 3)
(445277, 3)
(461306, 3)
(182738, 3)
(273471, 3)
(298949, 3)
(432680, 3)
(434458, 3)
(440144, 3)
(461430, 3)
(470492, 3)
(280512, 3)
(308926, 3)
(320490, 3)
(373808, 3)
(443075, 3)
(465693, 3)
(178026, 3)
(181341, 3)
(191047, 3)
(223030, 3)
(235742, 3)
(301251, 3)
(310000, 3)
(337246, 3)
(402363, 3)
(435169, 3)
(437861, 3)
(441644, 3)
(462489, 3)
(182825, 3)
(194482, 3)
(215336, 3)
(227204, 3)
(328004, 3)
(458569, 3)
(459787, 3)
(177023, 3)
(234249, 3)
(347203, 3)
(392526, 3)
(444325, 3)
(449254, 3)
(191186, 3)
(204743, 3)
(310079, 3)
(323878, 3)
(356819, 3)
(447370, 3)
(461327, 3)
(208064, 3)
(293087, 3)
(346690, 3)
(350283, 3)
(432849, 3)
(434487, 3)
(460072, 3)
(473229, 3)
(180614, 3)
(235656, 3)
(303898, 3)
(321242, 3)
(387037, 3)
(392799, 3)
(422886, 3)
(435049, 3)
(456923, 3)
(462957, 3)
(470787, 3)
(178076, 3)
(235751, 3)
(306514, 3)
(437965, 3)
(441697, 3)
(455234, 3)
(185717, 3)
(264379, 3)
(328845, 3)
(350599, 3)
(417722, 3)
(432856, 3)
(450393, 3)
(177164, 3)
(180694, 3)
(234266, 3)
(266873, 3)
(300222, 3)
(347428, 3)
(370861, 3)
(379695, 3)
(387303, 3)
(435058, 3)
(443124, 3)
(446783, 3)
(463297, 3)
(297167, 3)
(437985, 3)
(445342, 3)
(450043, 3)
(470338, 3)
(299355, 3)
(303340, 3)
(384580, 4)
(417726, 4)
(434557, 4)
(440269, 4)
(465168, 4)
(235222, 4)
(331883, 4)
(365241, 4)
(444599, 4)
(449459, 4)
(192732, 4)
(213375, 4)
(345894, 4)
(348170, 4)
(375207, 4)
(382465, 4)
(441753, 4)
(459290, 4)
(183295, 4)
(216022, 4)
(235582, 4)
(308048, 4)
(342599, 4)
(370256, 4)
(385707, 4)
(398385, 4)
(417761, 4)
(281915, 4)
(304089, 4)
(306225, 4)
(433816, 4)
(457002, 4)
(213849, 4)
(235766, 4)
(338369, 4)
(372234, 4)
(390309, 4)
(438014, 4)
(299650, 4)
(385780, 4)
(448753, 4)
(235722, 4)
(347572, 4)
(444743, 4)
(468567, 4)
(182376, 4)
(269272, 4)
(338575, 4)
(357514, 4)
(375497, 4)
(382599, 4)
(438043, 4)
(450104, 4)
(179853, 4)
(228545, 4)
(342822, 4)
(378501, 4)
(436738, 4)
(440289, 4)
(177820, 4)
(234383, 4)
(234751, 4)
(282533, 4)
(439466, 4)
(440898, 4)
(449860, 4)
(463383, 4)
(206049, 4)
(315885, 4)
(339731, 4)
(432370, 4)
(447843, 4)
(280090, 4)
(305044, 4)
(386323, 4)
(422482, 4)
(434736, 4)
(202841, 4)
(234405, 4)
(439502, 4)
(440908, 4)
(472016, 4)
(176703, 4)
(178734, 4)
(235803, 4)
(302571, 4)
(340474, 4)
(390502, 4)
(443641, 4)
(461411, 4)
(473198, 4)
(234220, 4)
(280174, 4)
(436813, 4)
(442659, 4)
(462940, 4)
(177826, 4)
(212171, 4)
(222879, 4)
(234410, 4)
(283948, 4)
(440916, 4)
(449880, 4)
(459263, 4)
(463490, 4)
(472063, 4)
(235809, 4)
(263777, 4)
(390752, 4)
(436523, 4)
(438125, 4)
(443648, 4)
(445496, 4)
(386953, 4)
(235286, 4)
(367098, 4)
(443428, 4)
(235484, 4)
(292488, 4)
(349040, 4)
(361369, 4)
(383903, 4)
(177002, 4)
(448927, 4)
(460404, 4)
(231291, 4)
(304473, 4)
(332964, 4)
(367291, 4)
(388880, 4)
(450016, 4)
(461315, 4)
(176743, 4)
(277858, 4)
(299086, 4)
(317225, 4)
(369241, 4)
(376885, 4)
(397152, 4)
(414797, 4)
(455856, 4)
(303856, 4)
(330890, 4)
(364463, 4)
(370709, 4)
(399635, 4)
(446707, 4)
(223085, 4)
(231337, 4)
(285997, 4)
(403616, 4)
(435613, 4)
(439662, 4)
(317278, 4)
(450384, 4)
(234262, 4)
(234685, 4)
(300142, 4)
(446738, 4)
(449258, 4)
(184445, 4)
(213356, 4)
(234808, 4)
(337613, 4)
(434099, 4)
(445290, 4)
(179703, 4)
(182992, 4)
(445815, 4)
(183842, 4)
(234687, 4)
(235194, 4)
(444591, 4)
(466813, 4)
(178159, 4)
(235752, 4)
(301503, 4)
(345840, 4)
(395291, 4)
(176813, 4)
(227675, 4)
(235039, 4)
(462286, 5)
(234693, 5)
(300232, 5)
(313066, 5)
(379769, 5)
(301852, 5)
(325167, 5)
(357034, 5)
(455277, 5)
(440279, 5)
(446186, 5)
(180873, 5)
(186974, 5)
(211521, 5)
(234350, 5)
(234698, 5)
(235229, 5)
(267118, 5)
(400448, 5)
(463343, 5)
(234495, 5)
(269106, 5)
(357193, 5)
(382598, 5)
(216114, 5)
(235058, 5)
(293538, 5)
(373486, 5)
(398439, 5)
(434727, 5)
(438451, 5)
(442477, 5)
(202687, 5)
(234741, 5)
(235243, 5)
(440818, 5)
(471174, 5)
(232070, 5)
(234844, 5)
(298140, 5)
(325639, 5)
(436333, 5)
(440049, 5)
(235065, 5)
(442654, 5)
(181042, 5)
(304137, 5)
(335959, 5)
(371532, 5)
(388420, 5)
(348476, 5)
(436491, 5)
(441951, 5)
(364138, 5)
(438740, 5)
(440291, 5)
(442655, 5)
(462939, 5)
(230692, 5)
(309614, 5)
(355370, 5)
(381047, 5)
(433887, 5)
(184908, 5)
(305858, 5)
(411586, 5)
(235091, 5)
(303533, 5)
(433361, 5)
(444053, 5)
(234766, 5)

(305511, 5)
(313523, 5)
(176719, 5)
(298773, 5)
(316839, 5)
(383828, 5)
(176922, 5)
(235138, 5)
(293992, 5)
(303660, 5)
(320305, 5)
(434835, 5)
(438776, 5)
(450601, 5)
(456907, 5)
(459091, 5)
(234781, 5)
(323208, 5)
(355537, 5)
(439645, 5)
(457806, 5)
(179032, 5)
(185453, 5)
(235842, 5)
(310919, 5)
(317090, 5)
(341413, 5)
(376123, 5)
(458311, 5)
(303809, 5)
(379373, 5)
(450624, 5)
(456916, 5)
(184365, 5)
(234421, 5)
(234794, 5)
(235299, 5)
(284436, 5)
(323656, 5)
(443440, 5)
(304860, 5)
(448383, 5)
(462883, 5)
(294228, 5)
(353942, 5)
(466158, 5)
(304511, 5)
(381652, 5)
(450018, 5)
(463659, 5)
(179415, 5)
(235547, 5)
(278674, 5)
(299255, 5)
(303063, 5)
(306746, 5)
(438221, 5)
(440240, 5)
(210088, 5)
(379573, 5)
(234458, 5)
(268659, 5)
(301492, 5)
(310251, 5)
(323910, 5)
(430941, 5)
(439906, 5)
(447499, 5)
(450020, 5)
(461330, 5)
(234569, 5)
(377125, 5)
(460081, 5)
(186906, 5)
(202336, 5)
(331481, 5)
(374006, 5)
(450898, 5)
(234483, 5)
(268781, 5)
(334840, 5)
(443445, 5)
(321406, 6)
(354246, 6)
(374022, 6)
(443204, 6)
(235336, 6)
(434318, 6)
(443446, 6)
(176830, 6)
(234596, 6)
(317692, 6)
(374074, 6)
(380147, 6)
(388048, 6)
(444612, 6)
(234837, 6)
(306558, 6)
(441765, 6)
(185983, 6)
(209102, 6)
(352316, 6)
(462923, 6)
(400492, 6)
(437400, 6)
(234514, 6)
(368562, 6)
(405731, 6)
(443617, 6)
(306086, 6)
(385807, 6)
(235251, 6)
(374267, 6)
(447046, 6)
(232448, 6)
(375582, 6)
(445446, 6)
(186118, 6)
(299857, 6)
(306117, 6)
(352421, 6)
(184295, 6)
(234754, 6)
(283113, 6)
(306357, 6)
(336221, 6)
(449861, 6)
(299926, 6)
(343847, 6)
(438745, 6)
(460386, 6)
(304346, 6)
(306404, 6)
(433925, 6)
(435159, 6)
(233373, 6)
(234531, 6)
(306608, 6)
(310874, 6)
(372525, 6)
(375958, 6)
(300004, 6)
(305122, 6)
(330771, 6)
(353871, 6)
(370599, 6)
(436842, 6)
(190696, 6)
(234416, 6)
(313558, 6)
(449995, 6)
(469158, 6)
(372546, 6)
(473223, 6)
(186686, 6)
(234231, 6)
(306152, 6)
(370682, 6)
(440544, 6)
(444313, 6)
(470735, 6)
(355978, 6)
(434095, 6)
(233584, 6)
(305966, 6)
(310923, 6)
(341677, 6)
(383933, 6)
(438171, 6)
(422750, 6)
(470777, 6)
(234437, 6)
(445282, 6)
(377038, 6)
(455922, 6)
(305237, 6)
(439280, 6)
(444436, 6)
(372088, 6)
(470070, 6)
(303216, 6)
(442207, 6)
(462912, 6)
(354205, 6)
(404894, 6)
(373023, 7)
(344813, 7)
(440770, 7)
(310492, 7)
(440022, 7)
(311338, 7)
(347564, 7)
(371236, 7)
(446795, 7)
(235345, 7)
(304740, 7)
(368405, 7)
(347012, 7)
(456760, 7)
(371527, 7)
(193036, 7)
(302365, 7)
(348262, 7)
(441843, 7)
(447762, 7)
(299734, 7)
(352338, 7)
(373513, 7)
(471602, 7)
(214474, 7)
(234883, 7)
(330201, 7)
(378641, 7)
(450432, 7)
(332473, 7)
(370496, 7)
(373690, 7)
(378680, 7)
(235458, 7)
(348901, 7)
(343859, 7)
(184330, 7)
(443776, 7)
(305160, 7)
(353883, 7)
(433367, 7)
(371890, 7)
(434472, 7)
(180306, 7)
(379384, 7)
(387006, 7)
(439173, 7)
(460830, 7)
(306484, 7)
(372033, 7)
(434098, 7)
(341914, 7)
(361624, 7)
(383965, 7)
(445724, 7)
(330927, 7)
(304531, 7)
(197332, 7)
(235560, 7)
(341936, 7)
(383967, 7)
(439283, 7)
(306525, 7)
(310280, 7)
(337851, 7)
(356985, 7)
(462518, 7)
(234572, 7)
(186966, 8)
(234348, 8)
(400269, 8)
(205557, 8)
(269092, 8)
(305683, 8)
(329887, 8)
(378131, 8)
(305470, 8)
(183390, 8)
(306055, 8)
(308149, 8)
(374220, 8)
(315478, 8)
(433269, 8)
(440079, 8)
(343456, 8)
(448832, 8)
(187328, 8)
(234931, 8)
(364206, 8)
(440368, 8)
(235274, 8)
(322593, 8)
(234672, 8)
(213022, 8)
(305541, 8)
(309995, 8)
(381240, 8)
(388677, 8)
(463641, 8)
(234681, 8)
(364239, 8)
(386986, 8)
(399371, 8)
(372641, 8)
(305616, 8)
(437905, 8)
(310947, 8)
(205271, 8)
(435617, 8)
(362713, 8)
(305311, 8)
(321243, 8)
(289951, 8)
(367855, 8)
(382243, 8)
(435756, 8)
(185722, 8)
(233832, 8)
(304968, 8)
(311303, 8)
(351982, 9)
(442472, 9)
(375243, 9)
(306589, 9)
(372290, 9)
(176884, 9)
(305010, 9)
(308218, 9)
(184238, 9)
(321451, 9)
(380975, 9)
(183642, 9)
(433360, 9)
(313461, 9)
(371544, 9)
(442014, 9)
(327845, 9)
(308852, 9)
(378858, 9)
(347857, 9)
(437860, 9)
(304814, 9)
(305952, 9)
(343937, 9)
(381447, 9)
(235486, 9)
(306166, 9)
(373812, 9)
(184376, 9)
(213271, 9)
(367312, 9)
(186839, 9)
(235184, 9)
(306169, 9)
(314406, 9)
(367803, 9)
(305994, 9)
(312958, 9)
(400177, 9)
(470821, 9)
(372102, 9)
(441707, 9)
(317570, 9)
(377503, 10)
(446793, 10)
(438343, 10)
(448717, 10)
(321432, 10)
(176878, 10)
(306248, 10)
(428582, 10)
(187326, 10)
(366217, 10)
(234202, 10)
(312297, 10)
(374358, 10)
(447175, 10)
(304782, 10)
(200564, 10)
(308796, 10)
(355429, 10)
(234941, 10)
(360505, 10)
(209226, 10)
(306150, 10)
(443046, 10)
(185548, 10)
(302927, 10)
(210017, 10)
(307382, 10)
(303967, 10)
(364956, 10)
(370191, 11)
(185769, 11)
(304999, 11)
(346935, 11)
(310698, 11)
(344869, 11)
(304750, 11)
(347016, 11)
(398612, 11)
(446197, 11)
(202830, 11)
(313427, 11)
(347617, 11)
(176895, 11)
(346284, 11)
(312417, 11)
(386837, 11)
(346349, 11)
(347133, 11)
(444118, 11)
(436861, 11)
(455224, 11)
(304934, 11)
(462885, 11)
(309056, 11)
(438255, 11)
(305655, 11)
(304710, 12)
(230467, 12)
(305799, 12)
(346053, 12)
(438044, 12)
(179869, 12)
(347054, 12)
(373607, 12)
(432511, 12)
(371628, 12)
(433366, 12)
(446667, 12)
(345364, 12)
(209391, 12)
(204539, 12)
(374435, 12)
(434928, 12)
(456921, 12)
(201977, 12)
(364872, 12)
(305646, 12)
(374758, 12)
(448591, 12)
(440769, 12)
(348144, 12)
(305998, 12)
(307633, 12)
(183970, 13)
(446192, 13)
(305482, 13)
(305506, 13)
(306592, 13)
(375639, 13)
(401535, 13)
(305576, 13)
(176750, 13)
(235323, 13)
(335073, 14)
(439317, 14)
(355188, 14)
(447021, 14)
(234656, 14)
(306125, 14)
(304786, 14)
(432610, 14)
(346648, 14)
(234973, 14)
(346667, 14)
(185588, 14)
(309098, 14)
(183990, 15)
(186038, 15)
(346187, 15)
(347739, 15)
(448882, 15)
(364226, 15)
(448379, 15)
(286014, 15)
(438340, 16)
(344844, 16)
(311444, 16)
(347523, 17)
(184643, 17)
(368321, 17)
(305684, 17)
(305004, 17)
(363279, 17)
(305088, 17)
(305870, 17)
(313607, 17)
(201837, 17)
(433369, 17)
(347979, 17)
(374802, 17)
(235415, 18)
(306478, 18)
(436884, 18)
(347959, 18)
(312920, 18)
(436978, 18)
(312651, 19)
(372751, 19)
(306546, 20)
(176740, 20)
(438800, 20)
(463645, 20)
(306316, 21)
(344755, 21)
(460317, 22)
(306629, 23)
(306194, 23)
(306218, 24)
(371232, 25)
(445545, 25)
(440569, 30)

## Label

definícia labelu podľa administrátorov globsecu

 tri tematicke labely (3 Russia as a protector of traditional values, 1 USA as manipulator and devious actor, 2 EU dictate), labely definujuce krajiny, a dalsi label ak sa nachadza tematicky label priamo v nadpise (Headline)
 
- id


- category_id = category


- created_by
- name
- description
- created_date

In [39]:
print('number of labels: \nOriginally: 161 \nNow:')

q = "SELECT COUNT(*) FROM label"
eq(q)

number of labels:
Originally: 161
Now:
(162,)

## Label article label

prepojovacia tabuľka tabuľky label a tabuľky article_label (many-to-many relation)


- label_id = label
- article_label_id = article_label_id

In [40]:
print('number of mappings: \nOriginally: 2 303 \nNow:')

q = "SELECT COUNT(*) FROM label_article_label"
eq(q)

number of mappings:
Originally: 2 303
Now:
(7872,)

## Label category

všetky labely sú v systéme rozdelené do kategórii podľa toho aké tematické okruhy si globsec administrátori určili

- id


- name
- description
- created_date
- members_can_add_labels
- color

v zasade = len farby

In [41]:
print('number of: \nOriginally: 5 \nNow:')

q = "SELECT COUNT(*) FROM label_category"
eq(q)

q = "SELECT * FROM label_category"
eq(q)

number of:
Originally: 5
Now:
(5,)
(5, 'Russia', None, datetime.datetime(2019, 5, 5, 18, 58, 17), 0, 'red')
(6, 'Specific tags', None, datetime.datetime(2019, 5, 5, 18, 58, 51), 0, 'blue')
(8, 'USA', None, datetime.datetime(2019, 5, 15, 12, 59, 11), 0, 'orange')
(9, 'EU', None, datetime.datetime(2019, 5, 15, 13, 3, 8), 0, 'pink')
(11, 'List of countries', None, datetime.datetime(2019, 5, 27, 14, 45, 30), 0, 'grey')

## Site

stránky odkiaľ sú články stiahnuté


- id


- name
- enabled - ???
- host
- language
- proto
- slug
- type
- last_scraped
- last_processed

In [42]:
print('number of: \nOriginally: 144 \nNow:')

q = "SELECT COUNT(*) FROM site"
eq(q)

number of:
Originally: 144
Now:
(150,)

In [44]:
print('what s missing: last_scraped and last_processed')

q = "SELECT COUNT(*) FROM site WHERE last_scraped IS NULL"
eq(q)
q = "SELECT COUNT(*) FROM site WHERE last_processed IS NULL"
eq(q)

what s missing: last_scraped and last_processed
(17,)
(150,)

In [45]:
print('how many sites per language:')
q = "SELECT language, COUNT(*) FROM site GROUP BY language ORDER BY COUNT(*) DESC"
eq(q)

how many sites per language:
('sk', 28)
('ro', 22)
('bg', 20)
('rs', 19)
('cz', 17)
('hu', 17)
('mk', 14)
('me', 13)

In [47]:
print('how many sites per type: (previously 68,30,23,23)')
q = "SELECT type, COUNT(*) FROM site GROUP BY type ORDER BY COUNT(*) DESC"
eq(q)

how many sites per type: (previously 68,30,23,23)
('conspi', 74)
('hyper_partisan', 30)
('balanced', 23)
('grey', 23)

# All-frame

number of articles per type

In [68]:
# number of articles per type
print('how many articles per type:')

q = "SELECT site.type, COUNT(*) FROM article LEFT JOIN site ON article.site_id=site.id GROUP BY site.type"
eq(q)

how many articles per type:
('balanced', 21879)
('conspi', 145476)
('grey', 55748)
('hyper_partisan', 81434)

## Labels - languages, sites, types...

### how many labels per language

In [69]:
# how many labels per language
print('how many labels per language:')

q = "SELECT article.language, COUNT(*) FROM article INNER JOIN article_label ON article.id=article_label.article_id GROUP BY article.language"
eq(q)

how many labels per language:
('bg', 1305)
('cz', 1033)
('hu', 1109)
('me', 382)
('mk', 500)
('ro', 432)
('rs', 1313)
('sk', 1106)

## Labels

In [73]:
# how many labels categories
print('how many labels per categories:')

q = "SELECT label.name, COUNT(*) FROM label_article_label INNER JOIN label ON label_article_label.label_id=label.id GROUP BY label.name"
eq(q)

how many labels per categories:
('1 USA as manipulator and devious actor', 2921)
('2 EU dictate', 1264)
('3 Russia as a protector of traditional values', 237)
('4 Russia as a military superpower', 367)
('Afghanistan', 18)
('Albania', 14)
('Algeria', 1)
('Angola', 1)
('Argentina', 2)
('Armenia', 1)
('Australia', 5)
('Austria', 6)
('Azerbaijan', 2)
('Belarus', 1)
('Belgium', 4)
('Bolivia', 2)
('Bosnia and Herzegovina', 26)
('Brazil', 5)
('Bulgaria', 32)
('Canada', 5)
('Chad', 1)
('Chile', 4)
('China', 93)
('Colombia', 8)
('Congo, Democratic Republic of the', 1)
('Costa Rica', 1)
('Croatia', 9)
('Cuba', 12)
('Cyprus', 3)
('Czechia', 19)
('Denmark', 5)
('Ecuador', 3)
('Egypt', 5)
('El Salvador', 1)
('Estonia', 5)
('Ethiopia', 1)
('EU', 207)
('Finland', 3)
('France', 75)
('Georgia', 7)
('Germany', 81)
('Greece', 13)
('Guatemala', 1)
('Haiti', 1)
('Headline', 730)
('Honduras', 1)
('Hungary', 39)
('India', 8)
('Iran', 68)
('Iraq', 20)
('Ireland', 3)
('Israel', 23)
('Italy', 27)
('Japan', 8)
('Jordan', 3)
('Kazakhstan', 1)
('Kosovo', 62)
('Kuwait', 1)
('Latvia', 2)
('Lebanon', 5)
('Liberia', 1)
('Libya', 12)
('Lithuania', 3)
('Luxembourg', 1)
('Malta', 2)
('Mexico', 5)
('Moldova', 3)
('Montenegro', 34)
('Netherlands', 9)
('New Zealand', 3)
('Nicaragua', 4)
('North Korea', 14)
('North Macedonia', 22)
('Norway', 4)
('Oman', 1)
('Pakistan', 5)
('Palestine', 5)
('Panama', 1)
('Paraguay', 2)
('Peru', 1)
('Poland', 20)
('Portugal', 5)
('Qatar', 3)
('Romania', 16)
('Russia', 270)
('Saudi Arabia', 26)
('Serbia', 75)
('Slovakia', 24)
('Slovenia', 4)
('South Africa', 2)
('South Korea', 5)
('Spain', 19)
('Sweden', 7)
('Switzerland', 1)
('Syria', 34)
('Taiwan', 6)
('Turkey', 37)
('Ukraine', 46)
('United Arab Emirates (UAE)', 3)
('United Kingdom (UK)', 72)
('United States of America (USA)', 455)
('Unsure', 50)
('Uruguay', 4)
('Vatican City (Holy See)', 3)
('Venezuela', 68)
('Vietnam', 3)
('Yemen', 8)